{% extends "base.html" %}

{% block content %}
    <h1>Stats</h1>
    <table>
      <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Server</th>
        <th>Map</th>
        <th>Game Mode</th>
        <th>Player Count at end</th>
    <!--    <th>bTeams</th>  -->
        <th>Team CT Score</th>
        <th>Team T Score</th>
      </tr>
      <tr>
        <td>{{ start_match_time[0][0] }}</td>
        <td>{{ match[0][0] }}</td>
        <td>{{ match[0][1] }}</td>
        <td>{{ match[0][2] }}</td>
        <td>{{ match[0][3] }}</td>
        <td>{{ match[0][4] }}</td>
      <!--  <td>{{ match[0][5] }}</td> -->
        <td>{{ match[0][6] }}</td>
        <td>{{ match[0][7] }}</td>
      </tr>
    </table>
    <h2>Players:</h2>
    <table>
    <tr>
      <th>Team CT</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Headshots</th>
      <th>Bomb Plants</th>
      <th>Experience</th>
      <th>Team T</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Headshots</th>
      <th>Bomb Plants</th>
      <th>Experience</th>
    </tr>
    {% for i in range_m %}
    <tr>
      {% if i < len(players_team0) %}
      <td title="{{ players_team0[i][0] }}"><a href="{{ url_for('player', name=players_team0[i][0]) }}">{{ players_team0[i][1] }}</a></td>
      <td>{{ players_team0[i][2] }}</td>
      <td>{{ players_team0[i][3] }}</td>
      <td>{{ players_team0[i][4] }}</td>
      <td>{{ players_team0[i][5] }}</td>
      <td>{{ players_team0[i][6] }}</td>
      <td>{{ players_team0[i][7] }}</td>
      {% else %}

      {% endif %}
      {% if i < len(players_team1) %}
      <td title="{{ players_team1[i][0] }}"><a href="{{ url_for('player', name=players_team1[i][0]) }}">{{ players_team1[i][1] }}</a></td>
      <td>{{ players_team1[i][2] }}</td>
      <td>{{ players_team1[i][3] }}</td>
      <td>{{ players_team1[i][4] }}</td>
      <td>{{ players_team1[i][5] }}</td>
      <td>{{ players_team1[i][6] }}</td>
      <td>{{ players_team1[i][7] }}</td>
      {% else %}

    {% endif %}
  </tr>
  {% endfor %}
</table>
<div class="table">
  {% for round, data in round_data.items() %}
    <h2>Round: {{ round }} &nbsp;  {{ data['team0_score'] }}:{{ data['team1_score'] }}</h2>
  <!--  <div class="row header">
      <div class="cell">Time</div>
      <div class="cell">Killer</div>
      <div class="cell">Killed</div>
      <div class="cell">Weapon</div>
      {% if data['bomb_planted'] %}
        <div class="cell">Bomb Planted</div>
      {% endif %}
      -->
    </div>
    {% for event in data['event'] %}
      <div class="row">
        <div class="cell">{{ event['time'] }}</div>
        {% if event['bomb_by'] %}
          <div class="cell">Bomb</div>
          <div class="cell">{{ event['bomb_by'] }}</div>
          <div class="cell">{{ event['bomb_event'] }}</div>
        {% else %}
          <div class="cell"><a href="{{ url_for('player', name=event['killer_id']) }}"><span style="color: {{ 'blue' if event['killer_Teamid'] == 0 else 'red' }}">{{ event['killer'] }}</span></a></div>
          <div class="cell">{{ event['weapon'] }}  {% if event['Headshot'] == "True" %}<img src="{{ url_for('static', filename='favicon.ico') }}" width="15" height="15">{% endif %}</div>
          <div class="cell"><a href="{{ url_for('player', name=event['killed_id']) }}"><span style="color: {{ 'blue' if event['killed_Teamid'] == 0 else 'red' }}">{{ event['killed'] }}</span></a></div>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
</div>

<!---
 <h2>All kills:</h2>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Killer</th>
            <th>KilledBy</th>
            <th>Killed</th>
        </tr>
    </thead>
    <tbody>
        {% for kill in kills %}
        <tr>
            <td>{{ kill[0] }}</td>
            <td><a href="{{ url_for('player', name=kill[7]) }}"><span style="color: {{ 'blue' if kill[2] == 1 else 'red' }}">{{ kill[1] }}</span></a></td>
            <td>{{ kill[5] }}  {% if kill[6] == "True" %}<img src="{{ url_for('static', filename='favicon.ico') }}" width="15" height="15">{% endif %}</td>
            <td><a href="{{ url_for('player', name=kill[8]) }}"><span style="color: {{ 'blue' if kill[4] == 1 else 'red' }}">{{ kill[3] }}</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
--->

{% endblock %}
