{% extends "base.html" %}

{% block content %}
    <h1>Stats</h1>
    <table>
      <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Server</th>
        <th>Map</th>
        <th>Game Mode</th>
        <th>Player Count</th>
        <th>bTeams</th>
        <th>Team CT Score</th>
        <th>Team T Score</th>
      </tr>
      <tr>
        <td>{{ start_match_time[0][0] }}</td>
        <td>{{ match[0][0] }}</td>
        <td>{{ match[0][1] }}</td>
        <td>{{ match[0][2] }}</td>
        <td>{{ match[0][3] }}</td>
        <td>{{ match[0][4] }}</td>
        <td>{{ match[0][5] }}</td>
        <td>{{ match[0][6] }}</td>
        <td>{{ match[0][7] }}</td>
      </tr>
    </table>
    <h2>Players:</h2>
    <table>
    <tr>
      <th>Team CT</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Headshots</th>
      <th>Bomb Plants</th>
      <th>Experience</th>
      <th>Team T</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Headshots</th>
      <th>Bomb Plants</th>
      <th>Experience</th>
    </tr>
    {% for i in range_m %}
    <tr>
      {% if i < len(players_team0) %}
      <td title="{{ players_team0[i][0] }}"><a href="{{ url_for('player', name=players_team0[i][0]) }}">{{ players_team0[i][1] }}</a></td>
      <td>{{ players_team0[i][2] }}</td>
      <td>{{ players_team0[i][3] }}</td>
      <td>{{ players_team0[i][4] }}</td>
      <td>{{ players_team0[i][5] }}</td>
      <td>{{ players_team0[i][6] }}</td>
      <td>{{ players_team0[i][7] }}</td>
      {% else %}

      {% endif %}
      {% if i < len(players_team1) %}
      <td title="{{ players_team1[i][0] }}"><a href="{{ url_for('player', name=players_team1[i][0]) }}">{{ players_team1[i][1] }}</a></td>
      <td>{{ players_team1[i][2] }}</td>
      <td>{{ players_team1[i][3] }}</td>
      <td>{{ players_team1[i][4] }}</td>
      <td>{{ players_team1[i][5] }}</td>
      <td>{{ players_team1[i][6] }}</td>
      <td>{{ players_team1[i][7] }}</td>
      {% else %}

    {% endif %}
  </tr>
  {% endfor %}
</table>

 <h2>dbg _ All kills:</h2>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Killer</th>
            <th>KillerTeamID</th>
            <th>Killed</th>
            <th>KilledTeamID</th>
            <th>KilledBy</th>
            <th>Headshot</th>
        </tr>
    </thead>
    <tbody>
        {% for kill in kills %}
        <tr>
            <td>{{ kill[0] }}</td>
            <td>{{ kill[1] }}</td>
            <td>{{ kill[2] }}</td>
            <td>{{ kill[3] }}</td>
            <td>{{ kill[4] }}</td>
            <td>{{ kill[5] }}</td>
            <td>{{ kill[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
